/node_modules
/public/hot
/public/storage
/public/uploads
/public/ckeditor
/public/abbakumovaCV.pdf
/storage/*.key
/vendor
/.idea
/.vagrant
/routes/web.php
Homestead.json
Homestead.yaml
npm-debug.log
.env
artisan
server.php
