@import "vars";

.admin-container {
	display: block;
	height: 100%;
	min-width: 320px;
	width: 100%;
	max-width: 920px;
	margin: 25px auto;

	& .header {
		height: 50px;
		width: auto;
		padding: 10px 15px;
	}

	&__output {
		padding: 15px 0;
	}

	& a, & a:visited, & a:hover, & a:active {
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&_item {
		display: block;
		padding: 0 0 10px 0;
		margin: 0 0 20px 0;

	}

	& .grid-row-3,
	& .grid-row-4 {
		display: grid;
		grid-template-rows: 45px;
		align-items: center;

		& div:not(:nth-child(-n+2)){
			text-align: center;
		}
	}

	& .grid-row-3 {
		grid-template-columns: 30px 400px 105px;
	}
	& .grid-row-4 {
		grid-template-columns: 30px 180px 130px 130px;
	}

	& button {
		padding: 5px 7px;
	}

	& .breadcrumb {
		margin: 0 0 15px 0;

		li {
			//color: $color-tag;
			list-style: none;
			display: inline;
			&.active {
				text-decoration: underline;
			}
		}
	}

	& .add-new-item {
		margin: 0 0 15px 0;
	}
	& .form-group {
		margin: 0 0 15px 0;
		width: 50%;

		& label {
			display: inline-block;
			padding: 10px 0;
		}

		& input,
		& textarea {
			width: 100%;
		}

		& input {
			height: 25px;
		}
	}
}

.delete-form,
.edit-button {
	display: inline-block;
}
