@import url("https://fonts.googleapis.com/css?family=PT+Mono");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  line-height: 1.5em;
  touch-action: manipulation; }

body {
  width: 100%;
  height: 100%;
  color: #9da5b3;
  font: 16px "PT Mono", Courier, monospace;
  background-color: #ccc9c4; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  display: grid;
  min-width: 320px;
  max-width: 1024px;
  height: 850px;
  overflow: auto;
  margin: 50px auto;
  background-color: #21252b;
  border: 1px solid #181a1f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 6px 30px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 6px 30px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 6px 30px 10px rgba(0, 0, 0, 0.4);
  grid-template-rows: 50px auto 40px;
  grid-template-areas: "header" "content" "footer"; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px grey; }

.header {
  display: grid;
  grid-area: header;
  align-items: center;
  grid-template-columns: 250px auto;
  width: 100%;
  background-color: #21252b;
  border-bottom: 1px solid #181a1f;
  grid-template-areas: "nav title";
  justify-content: space-between; }

.header__title {
  grid-area: title;
  text-align: right;
  text-transform: uppercase; }
  .header__title a {
    text-decoration: none;
    color: #9da5b3;
    text-align: center;
    padding: 0 15px 0 0; }

.header__nav {
  grid-area: nav;
  align-self: end; }
  .header__nav-link {
    height: 30px;
    padding: 10px 15px;
    border: 1px solid #181a1f;
    border-left: none;
    color: #9da5b3;
    text-align: center;
    text-decoration: none;
    list-style: none;
    cursor: pointer; }
    .header__nav-link:link, .header__nav-link:visited {
      border-right: 1px solid #181a1f;
      border-top: 1px solid #181a1f; }
    .header__nav-link.active {
      border-bottom: 5px solid #262931;
      background-color: #262931; }

@media (max-width: 575px) {
  .header {
    height: 100px;
    grid-template-areas: "title" "nav"; } }
.output {
  overflow: auto;
  padding: 15px;
  background-color: #262931; }
  .output li {
    list-style: none; }

.portfolio-output {
  display: grid;
  grid-template-columns: 250px auto; }
  .portfolio-output .portfolio_item {
    display: none;
    margin: 15px; }
    .portfolio-output .portfolio_item.active {
      display: block; }
  .portfolio-output .sidebar__nav {
    height: 100%;
    padding: 15px;
    border-right: 1px solid #181a1f; }
    .portfolio-output .sidebar__nav-link {
      display: block;
      padding: 10px 0;
      color: #76c877;
      cursor: pointer; }
      .portfolio-output .sidebar__nav-link:hover, .portfolio-output .sidebar__nav-link:active {
        text-decoration: underline; }

.footer {
  grid-area: footer;
  width: 100%;
  background-color: #21252b;
  box-sizing: border-box;
  border: 1px solid #181a1f;
  display: flex;
  justify-content: flex-end; }
  .footer__languages {
    margin: auto 0; }
    .footer__languages-link {
      padding: 0 10px 0 0;
      text-transform: uppercase;
      color: #9da5b3; }

.admin-container {
  display: block;
  height: 720px;
  background-color: #262931; }
  .admin-container .header {
    height: 50px;
    width: auto;
    padding: 10px 15px;
    background-color: #21252b;
    border-bottom: 1px solid #181a1f; }
  .admin-container__output {
    padding: 15px; }
  .admin-container a {
    text-decoration: none;
    color: #9da5b3; }
    .admin-container a:hover {
      text-decoration: underline; }
  .admin-container_item {
    display: block;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #181a1f; }
  .admin-container .grid-row-3, .admin-container .grid-row-4 {
    display: grid;
    grid-template-rows: 45px;
    align-items: center; }
    .admin-container .grid-row-3 div:not(:nth-child(-n+2)), .admin-container .grid-row-4 div:not(:nth-child(-n+2)) {
      text-align: center; }
  .admin-container .grid-row-3 {
    grid-template-columns: 25px 400px 105px; }
  .admin-container .grid-row-4 {
    grid-template-columns: 25px 180px 130px 130px; }
  .admin-container button {
    padding: 5px 7px; }
  .admin-container .breadcrumb {
    margin: 0 0 15px 0; }
    .admin-container .breadcrumb li {
      color: #42505b;
      list-style: none;
      display: inline; }
      .admin-container .breadcrumb li a {
        color: #42505b; }
      .admin-container .breadcrumb li.active {
        text-decoration: underline; }
  .admin-container .add-new-item {
    margin: 0 0 15px 0; }
  .admin-container .form-group {
    margin: 0 0 15px 0;
    width: 50%; }
    .admin-container .form-group label {
      display: inline-block;
      padding: 10px 0; }
    .admin-container .form-group input, .admin-container .form-group textarea {
      width: 100%; }
    .admin-container .form-group input {
      height: 25px; }

.delete-form,
.edit-button {
  display: inline-block; }

/*# sourceMappingURL=app.css.map */
