.header {
	display: grid;
	grid-area: header;
	align-items: center;
	grid-template-columns: 300px 1fr;
	width: 100%;
	background-color: $bg-color-dark;
	border-bottom: $border-dark;
	grid-template-areas: "nav title";
	justify-content: space-between;
}

.header__title {
	grid-area: title;
	text-align: right;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: $color-main;
		text-align: center;
		padding: 0 15px 0 0;
	}
}

.header__nav {
	grid-area: nav;
	align-self: end;

	&-link {
		height: 30px;
		padding: 10px 15px;
		border: $border-dark;
		border-left: none;
		color: $color-main;
		text-align: center;
		text-decoration: none;
		list-style: none;
		cursor: pointer;

		&:link, &:visited {
			border-right: $border-dark;
			border-top: $border-dark;
		}

		&.active {
			border-bottom: 5px solid $bg-color-main;
			background-color: $bg-color-main;
		}

	}
}
@media (max-width: 575px) {
	.header {
		height: 100px;
		grid-template-areas: "title" "nav";
		grid-template-columns: 1fr;
		justify-content: center;

		& .header__title {
			text-align: center;
		}
	}
}
