.output {
	overflow: auto;
	padding: 15px;
	background-color: $bg-color-main;

	li {
		list-style: none;
	}
}
.portfolio-output {
	display: grid;
	grid-template-columns: 250px auto;

	& .portfolio_item {
		display: none;
		margin: 15px;

		&.active {
			display: block;
		}
	}

	& .sidebar__nav {
		height: 100%;
		padding: 15px;
		border-right: $border-dark;

		&-link {
			display: block;
			padding: 10px 0;
			color: $color-sidebar;
			cursor: pointer;

			&:hover, &:active {
				text-decoration: underline;
			}
		}
	}
}

