.content {
	grid-area: content;
	height: 100%;
	min-height: 750px;
	padding-top: 10px;
	border: $border-dark;
	border-bottom: none;
	border-top: none;
	background-color: $bg-color-main;

	& a {
		color: $color-main;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.output {
	overflow: auto;

	li {
    text-indent: 20px;
	}
	.tag-class {
		color: $color-tag;
	}
}

.portfolio_item {
	padding: 0 0 10px 0;
	border-bottom: 5px solid rgb(24, 26, 31);
	margin: 0 0 15px 0;
}
