.output {
	overflow: auto;
	padding: 15px;
	background-color: $bg-color-main;

	li {
		list-style: none;
	}
	.tag-class {
		color: $color-tag;
	}
}

.portfolio_item {
	display: none;
	padding: 0 0 10px 0;
	border-bottom: 5px solid rgb(24, 26, 31);
	margin: 0 0 15px 0;
}
.portfolio-output {
	display: grid;
	grid-template-columns: 200px auto;
}