.sidebar__nav {

	&-link {
		display: block;
		padding: 5px 15px 5px 0;
		text-indent: 0 !important;
		color: $color-sidebar;
		cursor: pointer;

		&:hover, &:active {
			text-decoration: underline;
		}
	}
}
