@import url('https://fonts.googleapis.com/css?family=PT+Mono');

$font: 16px 'PT Mono', Courier, monospace;

// FONT COLOR
$color-main: rgb(157, 165, 179);
$color-link: rgb(198, 120, 221);

// BACKGROUND COLOR
$bg-color-main: rgb(204, 201, 196);
$bg-color-carousel: rgba(38, 41, 49, 1);
$bg-color-contact: rgb(33, 37, 43);
