.footer {
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: $bg-color-dark;
	box-sizing: border-box;
	border: $border-dark;
	display: flex;
	justify-content: flex-end;

	&__languages {
		margin: auto 0;

		&-link {
			padding: 0 10px 0 0;
			text-transform: uppercase;
			color: $color-main;
		}
	}
}
