.header {
	width: 100%;
	height: $header-height;

}
	.header>.row {
		height: 100%;
		background-color: $bg-color-dark;
		border-bottom: $border-dark;
		position: relative;
	}

.header__title {
	text-align: center;

	h2 {
		margin-bottom: 0;
	}

	a {
		text-transform: uppercase;
		text-decoration: none;
		color: $color-main;
		text-align: center;

	}
}

.header__nav {
	position: relative;
	bottom: -2px;

	&-link {
		height: 30px;
		text-align: center;
		padding: 5px 0 0 0;
		border-top: $border-dark;
		border-right: $border-dark;
		border-left: $border-dark;
		border-bottom: $border-dark;
		border-radius: 25px 10px 0 0;
		color: $color-main;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}

		&.router-link-active {
			background-color: $bg-color-main;
			border-bottom: none;
		}
	}
}

@media (max-width: 767px) {
	.header {
		height: 65px;
	}

}

@media (max-width: 575px) {
	.header {
		height: 150px;
	}

	.header__nav-link {
		height: 35px;
		border-radius: 0;
	}

}
