.header {
	width: 100%;
	height: $header-height;

}
	.header>.row {
		height: 100%;
		background-color: $bg-color-dark;
		border-bottom: $border-dark;
	}

.header__title {

	text-align: center;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: $color-main;
		text-align: center;

	}
}

.header__nav {

	&-link {
		height: 30px;
		color: $color-main;
		text-align: center;
		text-decoration: none;
		list-style: none;

		&:link, &:visited {
			border-right: $border-dark;
			border-top: $border-dark;
		}

		&:first-child {
			margin-left: -1px;
			border-left: $border-dark;
		}

		&.router-link-active {
			border-bottom: 5px solid $bg-color-main;
			background-color: $bg-color-main;
		}

	}
}
@media (max-width: 575px) {
	.header {
		height: 150px;
	}
}
