@import url('https://fonts.googleapis.com/css?family=PT+Mono');

$font: 16px 'PT Mono', Courier, monospace;
$font-mobile: 20px 'PT Mono', Courier, monospace;

// FONT COLOR
$color-main: rgb(157, 165, 179);
$color-sidebar: rgb(118, 200, 119);
$color-key: rgb(222, 109, 114);
$color-value: rgb(154, 194, 125);
$color-link: rgb(198, 120, 221);
$color-tag: rgba(66, 80, 91, 0.5);

// BACKGROUND COLOR
$bg-color-body: rgb(204, 201, 196);
$bg-color-main: rgb(40, 44, 52);
$bg-color-dark: rgb(33, 37, 43);
$bg-color-active: grey;

$border-dark: 1px solid rgb(24, 26, 31);
$header-height: 50px;
$shadow: 4px 6px 30px 10px rgba(0, 0, 0, 0.4);
